.task {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-left: 5px solid;
}

.task h3{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 1.5%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

fa-icon{
    margin:0.4rem;
}