<div 
    class="task"
    [ngStyle]="{'background-color': color}"
    [ngClass]="{reminder: task.reminder}"
    (dblclick)="onToggle(task)"
>
    <h3>
        {{task.text}}
        <fa-icon 
            [icon]="faTimes"
            [ngStyle]="{'color':'black'}"   
            (click)="(onDelete(task))"
        ></fa-icon></h3>
    <div class="flex">
        {{task.day | date:'EEE, dd MMM yy,  HH:mm'}} hs

        <p>
            {{task.category}}
        </p>
        <div>
            <fa-icon 
                [icon]="faBell"
                [ngStyle]="{'color':'#227312'}"
                *ngIf="task.reminder" 
            ></fa-icon>
            <a [routerLink]='["/update", task.id]'>
                <fa-icon 
                [icon]="faPencil"
                [ngStyle]="{'color':'black'}" 
                ></fa-icon>
            </a>
        </div>
    </div>
</div>