<form 
    class="add-form"
    (ngSubmit)="onSubmit()"    
>
    <div class="form-control">
        <label for="text">Tarea</label>
        <input
            type="text"
            name="text"
            id="text"
            placeholder="Ingresar tarea"
            [(ngModel)]="text"
        />
    </div>

    <div class="form-control">    
        <label for="text">Día</label>
        <input
            type="datetime-local"
            name="day"
            id="day"
            placeholder="Ingresar día y horario"
            [(ngModel)]="day"
        />
    </div>
    <div class="form-control">    
        <label for="text">Categoría</label>
        <select
            class="form-control selector"
            name="category"
            id="category"
            [(ngModel)]="category"
        >
            <option
                class="selector"
                *ngFor="let cat of categories" [value]="cat.color"
            >{{cat.description}}</option>
            <!-- <option value="pink">Hogar</option>
            <option value="yellow">Estudios</option>
            <option value="blue">Trabajo</option> -->
        </select>
    </div> 
    <div class="form-control form-control-check">    
        <label for="reminder">Recordatorio</label>
        <input
            type="checkbox"
            name="reminder"
            id="reminder"
            [(ngModel)]="reminder"
        />
    </div>
    <div class="botonera">
        <input type="submit" value="Guardar" class="btn guardar">
        <a class="btn cancelar" routerLink="/">Volver</a>
    </div>
</form>
